<h2>Regional Registration</h2>
<h5>Please fill out the registration form</h5>

<%= form_for [@event, @attendee] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
<br>
  <%= f.label :email %>
  <%= f.text_field :email %>
<br>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br>
  <%= f.label :chapter %>
  <%= f.text_field :chapter %>
<br>
  <%= f.label :address %>
  <%= f.text_field :address %>
<br>
  <%= f.label :phone %>
  <%= f.text_field :phoneNumber %>
<br>
  <%= f.label :Select_Event %>
  <%= f.select(:event, options_for_select(@event_season)) %>
<br>
  <%= f.submit "Submit" %>
<% end %>
