<h2>Regional Registration</h2>
<h5>Please fill out the registration form</h5>

<%= form_for [@event, @attendee] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :chapter %>
  <%= f.text_field :chapter %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone %>
  <%= f.text_field :phoneNumber %>

  <%= f.select(:event, options_for_select(@event_season)) %>

  <%= f.submit "Submit" %>
<% end %>

<h6><%= link_to "Return to Main Page", abouts_path %></h6>
