<h2><%= @event.season %></h2>
<h4>Location: <%= @event.location %></h4>
<h4>Date :<%= @event.date %></h4>
<h3>About Event</h3>
<p><%= @event.about %></p>
<h3>Friday Night</h3>
<p><%= @event.night_one_events %></p>
<h3>Saturday Morning</h3>
<p><%= @event.day_two_events %></p>
<h3>Saturday Night</h3>
<p><%= @event.night_two_events %></p>
<h3>Attendance</h3>
<% @event.attendences.each do |attendence| %>
<div class="attendences">
  <li>
    <%= link_to attendence.fullName, attendence_path(attendence) %>
  </li>
</div>
<% end %>
